target/
.classpath
.project
.settings/
.springBeans
.metadata/
*.ipr
*.iws
*.iml
.idea/
*.swp
*.swo
*.swn
*.scssc
res.css
src/test/test.iml
src/main/webapp/static/deploy
src/main/resources/hostname.properties
*.DS_Store
node_modules/
src/main/webapp/deploy/
logs/
tmp/
deploy/
~/
*.log
