<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context-4.2.xsd
	                    http://www.springframework.org/schema/util
	                    http://www.springframework.org/schema/spring-util-4.2.xsd">


    <context:annotation-config/>

    <!--<context:component-scan base-package="com.meituan.tower.zhiyou">-->
        <!--&lt;!&ndash;将Controller的注解排除掉 &ndash;&gt;-->
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    <!--</context:component-scan>-->

    <!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath:db.properties</value>-->
                <!--<value>classpath:config.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<import resource="dao/mysql-datasource.xml"/>-->

    <!--<bean id="upmAuthService" class="com.sankuai.meituan.upm.tools.UpmAuthService">-->
        <!--<property name="clientId" value="tower"/>-->
        <!--<property name="secret" value="509c7376942fec97db03050ea3f66b85"/>-->
    <!--</bean>-->
    <!--<bean id="mtFilter" class="com.sankuai.meituan.filter.spring.FilterFactoryBean">-->
        <!--<property name="appkey" value="tower" />-->
        <!--<property name="loginUrl" value="https://sso.sankuai.com"/>-->
        <!--<property name="loginApiUrl" value="http://api.sso-in.sankuai.com"/>-->
        <!--<property name="authUrl" value="http://api.upm-in.sankuai.com"/>-->
        <!--<property name="callbackUri" value="/mt-sso" />-->
        <!--<property name="filterChainDefinitions">-->
            <!--<value>-->
                <!--/page/** = anon-->
            <!--</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!--&lt;!&ndash;<mvc:annotation-driven/>&ndash;&gt;-->
    <!--&lt;!&ndash;<mvc:interceptors>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; 加入TraceHandlerInterceptor &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<mvc:interceptor>&ndash;&gt;-->
            <!--&lt;!&ndash;<mvc:mapping path="/**"/> &lt;!&ndash; 想加入mtrace的url &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<bean class="com.meituan.mtrace.http.TraceHandlerInterceptor"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</mvc:interceptor>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash; 其它配置 &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</mvc:interceptors>&ndash;&gt;-->

    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">-->
        <!--<property name="prefix" value="vm"/>-->
        <!--<property name="suffix" value="vm"/>-->
    <!--</bean>-->
</beans>

